* {
    font-size: 25pt;
}

table{
      width: 600px;
      height: 700px;
      table-layout: fixed;
      margin: 0 auto;
      margin-top: 50px;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

th{
      text-align: end;
      padding-right: 20px;
      font-size: 30pt;
  }

td:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.calc-r{
    font-size: 28pt;
}

sup{
    font-size: 16pt;
}